[Desktop Entry]
Version=1.0
Type=Application
Name=IDEA
GenericName=IDEA
Comment=IDEA
Exec={{ pkg_ic.install_path}}/{{ pkg_ic.basename}}/eclipse %F
Terminal=false
MimeType=text/plain;
Icon=sublime-text
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;

[Desktop Action Window]
Name=New Window
Exec={{ pkg_ic.install_path}}/{{ pkg_ic.basename}}/eclipse -n
OnlyShowIn=Unity;

[Desktop Action Document]
Name=New File
Exec={{ pkg_ic.install_path}}/{{ pkg_ic.basename}}/eclipse --command new_file
OnlyShowIn=Unity;
