[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
GenericName=Eclipse
Comment=Eclipse
Exec={{ pkg_ic.install_path}}/eclipse/eclipse %F
Terminal=false
MimeType=text/plain;
Icon={{ pkg_ic.install_path}}/eclipse/eclipse/icon.xpm
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;

[Desktop Action Window]
Name=New Window
Exec={{ pkg_ic.install_path}}/eclipse/eclipse -n
OnlyShowIn=Unity;

[Desktop Action Document]
Name=New File
Exec={{ pkg_ic.install_path}}/eclipse/eclipse --command new_file
OnlyShowIn=Unity;
